@import "./base.css";

#app {
  height: 100vh;
}

h1 {
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 400;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a,
.green {
  text-decoration: none;
  color: var(--color-green);
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-link-hover);
  }
}

.screen-reader-text,
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  white-space: nowrap;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  background-color: transparent;
  border: 1px solid var(--color-green);
  border-radius: var(--border-radius);
  color: var(--color-green);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  outline: 0;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
}

.button-orange {
  border: 1px solid var(--color-orange);
  color: var(--color-orange);
}

.button-danger {
  border: 1px solid var(--color-red);
  color: var(--color-red);
}

.button-disabled {
  cursor: default;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-green);
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  text-decoration: inherit;
}

.no-underline {
  text-decoration: none;
}

select {
  /* A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  /* Additional resets for further consistency */
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.select-input {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  color: var(--color-white);
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.1;
  padding: 14px 15px;
}

.text-input {
  background: transparent;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  caret-color: var(--color-green);
  color: var(--color-white);
  font-family: sans-serif;
  font-size: 1rem;
  padding: 14px 15px;
}
.text-input:focus {
  outline: none;
}

.input-has-border {
  border: 1px solid var(--color-black);
}
.input-has-border-light {
  border: 1px solid var(--color-text);
}

.create-item-form {
  margin-bottom: 1rem;
}

.item-name-input {
  background: var(--color-black);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  width: 100%;
}

.create-item-actions {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;

  background: #000;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding: 10px;
}

.create-item-button {
  border-radius: 0;
}
.create-item-button:first-child {
  border-radius: 0 0 0 3px;
}
.create-item-button:last-child {
  border-radius: 0 0 3px 0;
}

.dropdown-base {
  background: var(--color-black);
  box-shadow: -3px 3px 3px var(--color-background-shadow);
  max-width: 100vw;
  padding: 1rem;
  position: absolute;
  right: 0;
  width: 320px;
  z-index: 1000000;
}

.danger-zone {
  display: flex;
  justify-content: flex-end;

  margin-top: 2rem;
}

.form-control {
  margin-bottom: 10px;
}

.form-control-label {
  display: block;
}

/* Modifiers (need to come last) */
.is-invisible {
  opacity: 0;
}

.is-bold {
  font-weight: 700;
}

.is-small-text {
  font-size: 0.8rem;
}

.is-full-width {
  width: 100%;
}

.has-black-border {
  border-color: var(--color-black);
}

.has-padding {
  padding: 1rem;
}

.can-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.card {
  background: var(--color-black);
  border-radius: var(--border-radius);
  padding: 1rem;
  margin-bottom: 1rem;
}

.notifications {
  background: var(--color-red);
  box-shadow: 0px 0px 4px #6c6c6c;
  color: var(--color-white);
  position: fixed;
  border-radius: var(--border-radius);
  padding: 0.25rem 0.5rem;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

/* Contacts and Invitations views */
.contacts-header {
  padding: 1rem 1rem 0;
}
.contacts-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  padding: 0 1rem 1rem;
}
@media only screen and (min-width: 900px) {
  .contacts-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.contacts-list > li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.button-list {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* End Contacts and Invitations views */

/* Responsive displaying */
@media only screen and (max-width: 899.9px) {
  .hide-below-900px {
    display: none !important;
  }
}
@media only screen and (min-width: 900px) {
  .hide-above-900px {
    display: none !important;
  }
}
/* End Responsive displaying */
